html {
	scroll-behavior: smooth;
	line-height: 1.15;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	-webkit-font-smoothing: antialiased;
}

p,
li,
ul,
pre,
div,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
blockquote,
figcaption {
	margin: 0;
	padding: 0;
}

button {
	background-color: transparent;
}

button,
input,
optgroup,
select,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
}

button,
select {
	text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
	color: inherit;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

button:-moz-focus,
[type='button']:-moz-focus,
[type='reset']:-moz-focus,
[type='submit']:-moz-focus {
	outline: 1px dotted ButtonText;
}

a {
	text-decoration: inherit;
	color: inherit;
}

pre {
	white-space: normal;
}

input {
	padding: 2px 4px;
}

img {
	display: block;
}

details {
	display: block;
	margin: 0;
	padding: 0;
}

summary::-webkit-details-marker {
	display: none;
}

[data-thq='accordion'] [data-thq='accordion-content'] {
	padding: 0;
	max-height: 0;
	transition: max-height 0.3s ease-in-out;
	overflow: hidden;
}

[data-thq='accordion'] details[data-thq='accordion-trigger'][open] + [data-thq='accordion-content'] {
	max-height: 1000vh;
}

details[data-thq='accordion-trigger'][open] summary [data-thq='accordion-icon'] {
	transform: rotate(180deg);
}